$width-main-container: 1000px;           // ширина главного контейнера страницы
//$thead-color: #85183e;
$ng-invalid-border-color: #c9503e;       // цвет границы невалидного инпута
$ng-valid-border-color: #3061cb;         // цвет границы валидного инпута
