// ? Светлая тема
$light-primary-color: #244cb6;
$light-secondary-color: #4c6fcc;
$light-third-color: #145a70;
$light-main-bg-color: #ececec;
$light-font-black-color: #0c0c0c;
$light-grey-color: #737373;

$light-thead-bg-color: #7099ff;
$light-tbody-bg-color: #ffffff;

$light-white-color: #ffffff;
$light-black-color: #000000;
$light-white-soft-color: #ffffff;
$light-black-soft-color: #1f1f1f;

$light-theme: (
  primary: $light-primary-color,
  secondary: $light-secondary-color,
  third: $light-third-color,
  main-bg-color: $light-main-bg-color,
  font-color: $light-font-black-color,
  grey-color: $light-grey-color,
  thead-bg-color: $light-thead-bg-color,
  tbody-bg-color: $light-tbody-bg-color,
  white-to-black: $light-white-color,
  black-to-white: $light-black-color,
  white-to-black-soft: $light-white-soft-color,
  black-to-white-soft: $light-black-soft-color
);

// ! Темная тема
$dark-primary-color: #14317e;
$dark-secondary-color: #3058c2;
$dark-third-color: #60ccf3;
$dark-main-bg-color: #2f2f2f;
$dark-font-white-color: #f6f6f6;
$dark-grey-color: #b6b6b6;

$dark-thead-bg-color: #14317e;
$dark-tbody-bg-color: #1e1e1e;

$dark-white-color: #ffffff;
$dark-black-color: #000000;
$dark-white-soft-color: #ffffff;
$dark-black-soft-color: #1f1f1f;

$dark-theme: (
  primary: $dark-primary-color,
  secondary: $dark-secondary-color,
  third: $dark-third-color,
  main-bg-color: $dark-main-bg-color,
  font-color: $dark-font-white-color,
  grey-color: $dark-grey-color,
  thead-bg-color: $dark-thead-bg-color,
  tbody-bg-color: $dark-tbody-bg-color,
  white-to-black: $dark-black-color,
  black-to-white: $dark-white-color,
  white-to-black-soft: $dark-black-soft-color,
  black-to-white-soft: $dark-white-soft-color
);

// миксин для применения темы
@mixin theme($theme) {
  $primary-color: map-get($theme, primary);
  $secondary-color: map-get($theme, secondary);
  $third-color: map-get($theme, third);
  $main-bg-color: map-get($theme, main-bg-color);
  $font-color: map-get($theme, font-color);
  $grey-color: map-get($theme, grey-color);
  $thead-bg-color: map-get($theme, thead-bg-color);
  $tbody-bg-color: map-get($theme, tbody-bg-color);
  $white-to-black: map-get($theme, white-to-black);
  $black-to-white: map-get($theme, black-to-white);
  $white-to-black-soft: map-get($theme, white-to-black-soft);
  $black-to-white-soft: map-get($theme, black-to-white-soft);

  $white-permanent-color: #f8f8f8;
  $black-permanent-color: #090909;

  $disabled-input-bg: rgba(255, 255, 255, 0);

  // * Background
  .primary-bg{
    background-color: $primary-color !important;
  }
  .secondary-bg{
    background-color: $secondary-color !important;
  }
  .third-bg{
    background-color: $third-color !important;
  }
  .soft-white-gray-bg{
    background-color: $main-bg-color !important;
  }
  .white-permanent-bg{
    background-color: $white-permanent-color !important;
  }
  .black-permanent-bg{
    background-color: $black-permanent-color !important;
  }
  .white-to-black-soft-bg{
    background-color: $white-to-black-soft !important;
  }
  .black-to-white-soft-bg{
    background-color: $black-to-white-soft !important;
  }


  // * Color
  .primary-color{
    color: $primary-color !important;
  }
  .secondary-color{
    color: $secondary-color !important;
  }
  .third-color{
    color: $third-color !important;
  }
  .white-permanent-color{
    color: $white-permanent-color !important;
  }
  .black-permanent-color{
    color: $black-permanent-color !important;
  }
  .white-to-black-color{
    color:  $white-to-black;
  }
  .black-to-white-color{
    color: $black-to-white;
  }
  .font-color{
    color: $font-color !important;
  }
  .grey-color{
    color: $grey-color !important;
  }


  // * Теги глобальные
  label{
    color: $font-color !important;
  }
  // * Изменение form-control инпутов, селектов
  .form-control{
    background-color: $white-to-black-soft !important;
    color: $black-to-white-soft !important;
  }
  .form-control[disabled]{
    background-color: $disabled-input-bg !important;
    /*color: var(--black-color) !important;*/
  }
  .form-select{
    background-color: $white-to-black-soft !important;
    color: $black-to-white-soft !important;
  }
  .form-select[disabled]{
    background-color: $disabled-input-bg !important;
  }
  // * Таблица результатов

  .thead-table {
    --bs-table-bg: #{$thead-bg-color} !important;
    tr{
      th{
        color: #{$black-to-white} !important;
      }
    }
  }
  tbody{
    --bs-table-bg: #{$tbody-bg-color} !important;
    tr{
      td{
        color: #{$black-to-white} !important;
      }
      th{
        color: #{$black-to-white} !important;
      }
    }
  }

}

.light-theme{
  @include theme($light-theme);
}
.dark-theme{
  @include theme($dark-theme);
}
