<form [formGroup]="fgCalc" class="w-100 h-100">
  <div class="d-flex gap-4 pt-4">
    <div class="col-my ps-2">
      <div class="w-100">
        <label for="removingImbalanceFrom">{{ "CALC.SELECT-REMOVING-IMBALANCE_FROM" | translate }}</label>
        <div class="input-group">
          <select class="form-select"
                  id="removingImbalanceFrom"
                  formControlName="removingImbalanceFrom"
                  required="{{fcFieldIsRequired('removingImbalanceFrom')}}"
          >
            @for (removeFrom of removingImbalanceFromList$ | async; track removeFrom.id){
              <option value="{{removeFrom.id}}">{{removeFrom.name}}</option>
            }
          </select>
          <button class="btn btn-light border"
                  (click)="fgCalc.get('removingImbalanceFrom').setValue(null)"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-my pe-2">
      <div class="w-100">
          <label for="materialProcessing">
            @if(selectedRemovingImbalanceFrom){
              {{ "CALC.SELECT-MATERIAL-PROCESSING" | translate }}
            } @else {
              <ng-container *ngTemplateOutlet="selectRemovingFrom"></ng-container>
            }
          </label>
        <div class="input-group">
          <select class="form-select"
                  id="materialProcessing"
                  formControlName="materialProcessing"
                  required="{{fcFieldIsRequired('materialProcessing')}}"
          >
            @for (material of materialProcessingList$ | async; track material.id){
              <option value="{{material.id}}">{{material.name}}</option>
            }
          </select>
          <button class="btn btn-light border"
                  [disabled]="!selectedRemovingImbalanceFrom"
                  (click)="fgCalc.get('materialProcessing').setValue(null)"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex gap-4 pt-4">
    <div class="col-my ps-2">
      <div class="w-100">
        <label for="widthProcessing">
          @if(selectedRemovingImbalanceFrom){
            {{ "CALC.WIDTH-PROCESSING-(H)-MM" | translate }}
          } @else {
            <ng-container *ngTemplateOutlet="selectRemovingFrom"></ng-container>
          }</label>
        <div class="input-group">
          <input class="form-control"
                 id="widthProcessing"
                 type="number"
                 formControlName="widthProcessing"
                 required="{{fcFieldIsRequired('widthProcessing')}}"
          >
          <button class="btn btn-light border"
                  [disabled]="!selectedRemovingImbalanceFrom"
                  (click)="fgCalc.get('widthProcessing').setValue('')"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-my pe-2">
      <div class="w-100">
        <label for="depthIncision">
          @if(selectedRemovingImbalanceFrom){
            {{ "CALC.DEPTH-INCISION-(C)-MM" | translate }}
          }
          @else {
            <ng-container *ngTemplateOutlet="selectRemovingFrom"></ng-container>
          }
        </label>
        <div class="input-group">
          <input class="form-control"
                 id="depthIncision"
                 type="number"
                 formControlName="depthIncision"
                 required="{{fcFieldIsRequired('depthIncision')}}"
          >
          <button class="btn btn-light border"
                  [disabled]="!selectedRemovingImbalanceFrom"
                  (click)="fgCalc.get('depthIncision').setValue('')"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="d-flex gap-4 pt-4">
    <div class="col-my ps-2">
      <div class="w-100">
        <label for="massRemovable">
          @if(selectedRemovingImbalanceFrom){
            {{ "CALC.MASS-REMOVABLE-(M)-GRAM" | translate }}
          } @else {
            <ng-container *ngTemplateOutlet="selectRemovingFrom"></ng-container>
          }
        </label>
        <div class="input-group">
          <input class="form-control"
                 id="massRemovable"
                 type="number"
                 formControlName="massRemovable"
                 required="{{fcFieldIsRequired('massRemovable')}}"
          >
          <button class="btn btn-light border"
                  [disabled]="!selectedRemovingImbalanceFrom"
                  (click)="fgCalc.get('massRemovable').setValue('')"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-my ps-2">
      <div class="d-flex align-items-end">
        <button class="btn btn-success secondary-bg border-0"
                [disabled]="fgCalc.invalid"
                (click)="onClickCalc()"
        >
          <i class="bi bi-calculator-fill"></i> {{ "BUTTON.CALCULATE-RESULT" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>

<div class="text-center d-flex justify-content-center mt-5 text-danger">{{calcErrorMessage}}</div>

<ng-template #selectRemovingFrom>
  <span class="grey-color">{{ "CALC.FIRST-SELECT-METHOD-PROCESSING" | translate }}</span>
</ng-template>
