<section class="main-container d-flex flex-column">
  <app-calculate></app-calculate>
  @if(resultCalc){
    <div class="mt-5 d-flex justify-content-between">
      <div class="col-8">
        <span class="fs-4 third-color">Результат:
          <span>
            {{resultCalc.nameMethod}} = <span class="fw-bold">{{resultCalc?.result}} {{resultCalc?.unitMeasurement}}</span>
          </span>
        </span>
      </div>
      <div class="col-4 d-flex align-items-end justify-content-end">
        @if (dataForCalc){
          <button class="btn btn-success border-0"
                  (click)="exportToExcel()"
          >
            <i class="bi bi-download"></i>
            Сохранить результат в Excel
          </button>
        }
      </div>
    </div>
  }
  <app-table-result class="mt-5"></app-table-result>
</section>
