<section class="main-container d-flex flex-column">
  <app-calculate></app-calculate>
  @if(resultCalc){
    <div class="mt-5 d-flex justify-content-between">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <span class="fs-4 third-color">Результат:
          <span class="fw-bold">
            {{resultCalc.nameMethod}} = {{resultCalc?.result}} {{resultCalc?.unitMeasurement}}
          </span>
        </span>
      </div>
      <div class="col-4 text-center d-flex align-items-end">
        @if (dataForCalc){
          <button class="btn btn-success border-0 me-5"
                  (click)="exportToExcel()"
          >
            <i class="bi bi-download"></i>
            Сохранить результат в Excel
          </button>
        }
      </div>
    </div>
  }
  <app-table-result class="mt-5"></app-table-result>
</section>
