/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap';
@use "bootstrap-icons/font/bootstrap-icons";
@import 'assets/scss/themes';
@import 'assets/scss/constants';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */

//@import '~@angular/material/prebuilt-themes/rose-red.css';
//@import "~bootstrap/dist/css/bootstrap.min.css";

.main-container{ // главный контейнер посередине страницы
  margin: 0 auto;
  width: 100%;
  max-width: $width-main-container;
}

// подсветка валидации форм
.ng-invalid[required], .ng-invalid.required {
  border-left: 4px solid #c9503e !important;
}
.ng-valid[required], .ng-valid.required {
  border-left: 4px solid #3061cb !important;
}


// убирание стрелочек в input type=number
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Убираем стрелочки в Chrome, Safari, Edge */
  margin: 0; /* Убираем отступы */
}
/* Убираем стрелочки в Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Убираем стрелочки в Firefox */
}
